@tailwind base;
@tailwind components;
@tailwind utilities;

/* // animation for vue transitions hooks */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

* {
  @apply font-lato;
}

select:focus {
  outline: none;
}

h1 {
  @apply font-lobster;
  font-size: 3.75rem;
  color: white;
}

h2 {
  @apply font-lobster;
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}
